<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jay.loginapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jam_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jam_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewProfileActivity"></activity>
        <activity android:name=".MenuActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".addToDatabase"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".UpdateProfileActivity"></activity>
        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".SearchmenuActivity"></activity>
        <activity android:name=".ViewOtherProfileActivity"></activity>
        <activity android:name=".test"></activity>
        <activity android:name=".ChatActivity"></activity>


    </application>

</manifest>